<ion-header>
  <ion-toolbar color="warning">

    <ion-title>
      Psicólogo 🧠
    </ion-title>

    <ion-button
      slot="end" fill="solid"
      routerLink="/home">voltar
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content class="login-content">

  <div class="login-container">

    <!-- HEADER -->
    <div class="header-text">

      <div class="logo">
        🧠
      </div>

      <h2>
        Login do Psicólogo
      </h2>

      <p>
        Entre na sua conta profissional
      </p>

    </div>

    <!-- FORM -->
    <form (ngSubmit)="login()">

      <!-- EMAIL -->
      <ion-item class="input-item">

        <ion-label position="stacked">
          E-mail
        </ion-label>

        <ion-input
          type="email"
          [(ngModel)]="email"
          name="email"
          placeholder="Digite seu e-mail"
          required>

        </ion-input>

      </ion-item>

      <!-- SENHA -->
      <ion-item class="input-item">

        <ion-label position="stacked">
          Senha
        </ion-label>

        <ion-input
          type="password"
          [(ngModel)]="senha"
          name="senha"
          placeholder="Digite sua senha"
          required>

        </ion-input>

      </ion-item>

      <!-- BOTÃO -->
      <ion-button
        expand="block"
        type="submit"
        color="warning"
        class="submit-btn"
        [disabled]="!email || !senha">

        Entrar

      </ion-button>

    </form>

    <!-- LINKS -->
    <div class="links">

      <p>
        Ainda não possui cadastro?
        <a routerLink="/register-psicologo">

          Solicitar cadastro

        </a>
      </p>

    </div>

  </div>

</ion-content>