<ion-header>
  <ion-toolbar color="warning">

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>TheHelperDuck</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="dashboard-content" >
  <div class="dashboard-container">

    <!-- PERFIL -->
    <div class="card profile-card">
      <div class="profile-header">

        <div class="duck-icon">
          🦆
        </div>

        <div class="profile-info">
          <h2>Bem-vindo, {{ usuario.nome }}!</h2>
        </div>
      </div>

      <!-- STATUS -->
      <div class="stats-grid">
        <div class="stat-card blue">
          <div class="emoji">🏆</div>

          <p>Duck Points</p>

          <h3>{{ usuario.pontosFidelidade }}</h3>
          
          <p>Pontos de fidelidade</p>
          
        </div>

        <div class="stat-card green">
          <div class="emoji">📅</div>
          <h3>{{quantidadeConsultas}}</h3>

          <p>Consultas agendadas</p>
        </div>

        <div class="stat-card purple">
          <div class="emoji">📈</div>

          <h3>85%</h3>

          <p>Taxa de continuidade</p>
        </div>
      </div>

      <!-- HUMOR -->
      <div class="mood-section">
        <div class="mood-duck">
          🦆
        </div>

        <h3>
          Como você está se sentindo hoje?
        </h3>

        <div class="container-botoes">
          <ion-button
            expand="block"
            color="success"
            [disabled]="humorRegistrado"
            (click)="selecionarHumor('bem')">

            😊 Bem

          </ion-button>

          <ion-button
            expand="block"
            color="warning"
            [disabled]="humorRegistrado"
            (click)="selecionarHumor('neutro')">

            😐 Neutro

          </ion-button>

          <ion-button
            expand="block"
            color="danger"
            [disabled]="humorRegistrado"
            (click)="selecionarHumor('mal')">

            😞 Mal

          </ion-button>
        </div>

        <p
        class="mensagem-humor"
        *ngIf="mensagemHumor">

        {{ this.mensagemHumor }}
        </p>

        
      </div>

    </div>


    <!-- PRÓXIMAS CONSULTAS -->
      <div
        class="proximas-consultas"
        *ngIf="consultasProximas.length > 0">

        <h3>
          📅 Próximas Consultas
        </h3>

        <ion-card
          class="consulta-card"
          *ngFor="let consulta of consultasProximas">

          <ion-card-content>

            <h4>
              {{ consulta.psicologoNome }}
            </h4>

            <p>

              <ion-icon name="time-outline"></ion-icon>

              {{ consulta.dataConsulta | date:'dd/MM/yyyy HH:mm' }}

            </p>

            <ion-chip
              [color]="consulta.status === 'confirmada'
              ? 'success'
              : 'warning'">

              <ion-label>

                {{ consulta.status === 'confirmada'
                ? 'Confirmada'
                : 'Pendente' }}

              </ion-label>

            </ion-chip>

            <ion-button
              expand="block"
              fill="outline"
              size="small"
              [routerLink]="['/detalhes-consulta', consulta.id]">

              Ver Detalhes

            </ion-button>

          </ion-card-content>

        </ion-card>

      </div>

      <div
      class="proximas-consultas"
      *ngIf="consultasProximas.length === 0">

      <h3>
        📅 Próximas Consultas
      </h3>

      <p class="sem-consultas-dashboard">
        Você não possui consultas agendadas no momento.
      </p>

    </div>
    

    <!-- PROGRESSO -->
    <div class="progress-card">
      <div class="progress-header">
        <div class="heart-icon">
          💛
        </div>

        <div>
          <h3>
            Continue sua jornada!
          </h3>

          <p>
            Continue ganhando Duck Points para uma consulta gratuita
          </p>
        </div>
      </div>

      <ion-progress-bar
        [value]="usuario.pontosFidelidade / 1000">
      </ion-progress-bar>

    </div>
  </div>
</ion-content>